@import url(/coffeebean-test-23.01/CSS/reset.css);
@import url(/coffeebean-test-23.01/CSS/navbar.css);
@import url(/coffeebean-test-23.01/CSS/text.css);
@import url(/coffeebean-test-23.01/CSS/section.css);
@import url(/coffeebean-test-23.01/CSS/colors.css);

.bg-logo {
  font-weight: 300;
  text-decoration: none;
}

.color-red {
  color: red;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4;
}
